:root
{
    --primary-color : #fff400;
    --secondary-color : blue;
    --accent-color :  #ff008a;
}
/* Animations */
@keyframes borderAnimation 
{
    0%{ border:none; border-top: var(--secondary-color) 3px solid;}
    10%{ border-right:   var(--secondary-color) 3px solid;}
    30%{ border-right:  var(--secondary-color) 3px solid;}
    50%{ border-bottom: var(--secondary-color) 3px solid;}
    75%{ border-left:  var(--secondary-color) 3px solid;}
    100%{ border-top: var(--secondary-color) 3px solid;}
}
 
body
{
    background-color: var(--primary-color);
}
section
{
  
    height: 100%;
}
#main
{

    
    padding: 80px;
}

.cards
{
    text-align: center; 
    height: 80px;
    margin: 5px; 
    background-color: var(--secondary-color);
    color: cyan;
    border: 3px solid black;
    border-radius: 8px;
}
.cards:hover, .links:hover
{
    background-color: var(--accent-color);
    color: var(--primary-color);
    transform:scaleX(1.04);
    transition:  all 1s ease ;
    
    
}
.links
{
    text-decoration: underline ;
    color: cyan;
}



/* #product-section
{

    background-color: var(--accent-color);
    color: var(--primary-color);
    
}
.products-container
{
    display: grid;
    grid-template-columns: repeat(5,1.5fr);
    grid-template-rows: 1/ 2;
    gap:15px;
}

.records
{
    
    border-radius: 4px;
    margin: 10px;
    

}
.records:hover
{
    
    background-color: var(--primary-color);
    color: var(--accent-color);
    animation: borderAnimation 1.5s infinite linear;

}


.img-container
{
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
}
.imgs
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
} */