:root
{
    --primary-color : #fff400;
    --secondary-color : lime;
    --accent-color :  #ff008a;
}
/* Animations */
@keyframes borderAnimation 
{
    0%{ border-top: var(--secondary-color) 3px solid;}
    10%{ border-top:   var(--secondary-color) 3px solid;}
    30%{ border-right:  var(--secondary-color) 3px solid;}
    50%{ border-bottom: var(--secondary-color) 3px solid;}
    75%{ border-left:  var(--secondary-color) 3px solid;}
    100%{ border-top: var(--secondary-color) 3px solid;}
}

body
{
    background-color: var(--primary-color);
}
section
{
    
    
    height: 100vh;
}
#main
{
   
    display: grid;
    grid-template-columns: repeat(2,.4fr);
    grid-template-rows: repeat(2,100px);
    gap: 10px;
    padding: 80px;
}

.cards
{
    background-color: var(--secondary-color);
    color: cyan;
    border: 3px solid black;
    border-radius: 8px;
}
.cards:hover, .links:hover
{
    background-color: var(--accent-color);
    color: var(--primary-color);
    transform:scaleX(1.04);
    transition:  all 1s ease ;
    
    
}
.links
{
    text-decoration: none;
    color: cyan;
}



#product-container
{

    background-color: var(--accent-color);
    color: var(--primary-color);
    
}
.records
{
   
    border-radius: 4px;
    margin: 10px;
    width: 50%;
    height: 100%;

}
.records:hover
{
    transform: scaleX(1.05);
    background-color: var(--primary-color);
    color: var(--accent-color);
    animation: borderAnimation 2s infinite linear;

}
.products-container
{
    
    display: grid;
    grid-template-columns: repeat(5,.28fr);
    grid-template-rows: repeat(2,150px);
    gap: 10px;
    
}
.imgs
{
    width: 40%;
    height:  30%;
}