:root
{
    --primary-color: #1434A4;
    --font-color: #F3E5AB;
}
body
{
    padding: 100px;
    background-color: #102C57;
}
.main
{
    
    border-left: 2px  seagreen solid;
    border-bottom: 2px  seagreen solid;
    border-top: 0px  seagreen solid;
    border-right: 0px  seagreen solid;
    border-radius: 10px;
    
    padding: 50px;
    margin:  0% auto;
    width: 50vw;
    height: 40vh;
    background-color: var(--primary-color);
    color: var(--font-color);
}
form
{
    margin:  0% auto;
    width: 60%;
    text-align: center;
}
input:focus
{
    transform: scaleX(1.04) translateY(5px);
    transition: transform .4s ease;
    border: green 3px solid;
    border-radius: 5px;
    outline: none;
}

#title
{
    
    text-align: center;
    padding-bottom: 35px;
    margin:  0% auto;
    width: 60%;
}
label
{
    
    font-weight: bold;
    margin-right: 100px;
    width: 100px;
    height: 10px;
}
#submit-btn
{
    background-color: var(--primary-color);
    color: var(--font-color);
    border: 2px #EE66A6 solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0%;
    width: 40%;
    /* box-shadow: -5px 3px 2px #8FD14F; */
}
#submit-btn:hover
{
    background-color: #102C57;
    color: #00CCDD;
    border: 2px #0099ff58 solid;
    border-radius: 5px;
    transform: scaleX(1.09) translateY(-5px);
    transition: transform .4s ease;
    /* box-shadow: 5px -2px 2px #8FD14F; */
}
